<html lang="en">
{% load static %}
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<link rel="stylesheet" href="{% static 'css/forgot-password-style.css' %}">
<link rel="stylesheet" href="{% static 'css/password-helper.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>ChalkBoard Art | Products Summary</title>
<style>
     .mt-5 {
        margin-top: 2rem!important;
    }
    @media (min-width: 768px){
.col-md-10 {
    width: 100%;
}}
.signin-page .field input[type="submit"] {
    background-color: #27ae60;
}
input{
    border: grey solid 1px;
}
input.razorpay-payment-button{
    width: 40%;
}
</style>
</head>
<body class="bg-light">
    {% for message in messages %}

<div style="display: flex; flex-direction: row;" id="{{message.tags}}" class="message">
<div style="width: 95%;">{{message}}</div>
      <div align="right" onclick="remove()" style="cursor: pointer;">X</div>   
  </div>
  <script>
    function remove(){
      document.getElementsByClassName('message')[0].style.display='none'
    }
  </script>
{% endfor %}
<header class="nav-header">
    <a href="{% url 'home' %}" class="logo"
      ><i class="fas fa-utensils"></i
      ><b style="margin-left: 1px">Food Express</b></a
    >

    <nav class="navbar">
      <a class="active" href="{% url 'home' %}">home</a>
      <a href="#about">about</a>
      <a href="{% url 'menu' %}">menu</a>
      <a href="#review">review</a>
      <a href="{% url 'my-order' %}">order</a>
      {% if user.is_staff %}
      <a href="{% url 'customer-orders' %}">Customer Orders</a>
      {% endif %}
    </nav>

    <div class="icons">
      <i class="fas fa-bars" id="menu-bars"></i>
      {% if user.is_authenticated %} {% else %}
      <a href="{% url 'signup' %}" class="fas fa-solid fa-user-plus"></a>
      {% endif %}
      <a href="{% url 'cart' %}" class="fa" style="font-size: 18px"
        >&#xf07a;</a
      >
      <span class="badge badge-warning" id="lblCartCount">
        {{cart_size}}
      </span>
      <a
        href="#"
        class="fab fa-brands fa-whatsapp"
        style="font-size: 25px"
      ></a>
    </div>
  </header>

    {% if payment %}
    <section class="signin-page" style="background-color: white;">
        <div class="col-md-10 col-11 mx-auto">
            <div class="mt-3 shadow p-3 bg-white">
                <h3 class="py-4" style="font-size: 20px;">Customer Details</h3>
        
                <div class="pt-4" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly;">
                    <div style="font-size: 18px; font-weight: 300; text-align: center;">Name<p>{{name}}</p></div>
                   <div  style="font-size: 18px; font-weight: 300; text-align: center;">Phone<p>{{phone}}</p></div>
                    <div style="font-size: 18px; font-weight: 300; text-align: center;">Address <p>{{address}}</p></div>
                </div>
                </div>
        
                </div>
        <div class="row mt-5 gx-3">

            <div>
            <div class="right_side p-3 shadow bg-white">
            <h2 class="product_name mb-5" style="font-size: 20px;">The Total Amount Of</h2>
            <div class="price_indiv d-flex justify-content-between">
            <p style="font-size: 18px;">Product amount</p>
            <p style="font-size: 18px;">₹<span id="product_total_amt">{{price}}</span></p>
            </div>
            <div class="price_indiv d-flex justify-content-between">
            <p style="font-size: 18px;">Shipping Charge</p>
            <p style="font-size: 18px;">₹<span id="shipping_charge">0</span></p>
            </div>
            <hr />
            <div class="total-amt d-flex justify-content-between font-weight-bold">
            <p style="font-size: 18px;">The total amount of (including VAT)</p>
            <p style="font-size: 18px;">₹<span id="total_cart_amt">{{price}}</span></p>
            
            </div>
            <form action="{% url 'success' %}" method="POST" class="field">
                {% csrf_token %}
                <script
                    src="https://checkout.razorpay.com/v1/checkout.js"
                    data-key="rzp_test_ZqMgsr9KkejvM8"
                    data-amount="{{payment.amount}}"
                    data-currency="INR"
                    data-order_id="{{ payment.id }}"
                    data-buttontext="Pay with Razorpay"
                    data-name="Food Payment"
                    data-description="Thanks for choosing our services"
                    data-prefill.name="{{name}}"
                    data-prefill.email="{{email}}"
                    data-prefill.phone="{{phone}}"
                   
                    data-theme.color="#F37254"
                ></script>
                <input type="hidden" custom="Hidden Element" name="hidden">
                </form>
            <div>
        
            </div>
            </div>
      </section>

    {% else %}
<form method="post">
    {% csrf_token %}
<div class="container-fluid">
<div class="row">
<div class="col-md-10 col-11 mx-auto">
    <div class="mt-3 shadow p-3 bg-white">
        <h3 class="py-4" style="font-size: 20px;">Customer Details</h3>

        <div class="pt-4" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly;">
            <div style="font-size: 18px; font-weight: 300;">Name&nbsp;&nbsp; <input class="mb-4" type="text" placeholder="Enter Your name" name="name" style="text-align: center;" required></div>
           <div  style="font-size: 18px; font-weight: 300;">Phone &nbsp;&nbsp;<input class="mb-4" type="tel" placeholder="Mobile No" name="phone" style="text-align: center;" required></div>
            <div style="font-size: 18px; font-weight: 300;">Address <input class="mb-4" type="text" placeholder="Your Address" name="address" style="text-align: center;" required></div>
        </div>
        </div>

        </div>
<div class="row mt-5 gx-3">

<div>
<div class="right_side p-3 shadow bg-white">
<h2 class="product_name mb-5" style="font-size: 20px;">The Total Amount Of</h2>
<div class="price_indiv d-flex justify-content-between">
<p style="font-size: 18px;">Product amount</p>
<p style="font-size: 18px;">₹<span id="product_total_amt">{{price}}</span></p>
</div>
<div class="price_indiv d-flex justify-content-between">
<p style="font-size: 18px;">Shipping Charge</p>
<p style="font-size: 18px;">₹<span id="shipping_charge">0</span></p>
</div>
<hr />
<div class="total-amt d-flex justify-content-between font-weight-bold">
<p style="font-size: 18px;">The total amount of (including GST)</p>
<p style="font-size: 18px;">₹<span id="total_cart_amt">{{price}}</span></p>
</div>
<div>
    <p style="font-size: 15px;"><input type="checkbox" name="later" style="margin-right: 10px;">Pay on Delivery</p>
</div>
<button type="submit" class="btn btn-primary text-uppercase" style="background-color: #27ae60; border-color: #27ae60;">Place Order</button>
</div>
<!-- discount code part -->
<div class="discount_code mt-3 shadow">
<div class="card">

</div>
</div>

</div>
</div>
</div>
</div>
</div>
<div><input type="hidden" name="price" value="{{price}}"></div>
            <div><input type="hidden" name="id" value="{{id}}"></div>
            <div><input type="hidden" name="iscart" value="{{iscart}}"></div>
            <div><input type="hidden" name="qty" value="{{qty}}"></div>
</form>
{% endif %}
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
